:root {
  --bg-color: #121212;
  --card-bg: #1e1e1e;
  --primary: #ffc107;
  --text-main: #ffffff;
  --text-muted: #a0a0a0;
  --green-success: #28a745;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem; /* 16px */
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: "Segoe UI", sans-serif;
  margin: 0;

  position: relative;
}

/* Tipografía */
p {
  font-size: 2rem;
}
h1 {
  font-size: 4rem;
  font-weight: 900;
}
h2 {
  font-size: 3.6rem;
  font-weight: 900;
}
h3 {
  font-size: 3.2rem;
  font-weight: 900;
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 2rem;
}

header h1 span {
  color: var(--primary);
}

.categorias {
  display: flex;
  overflow-x: auto;
  padding: 1rem;
  gap: 1rem;
  background: var(--bg-color);
  margin-bottom: 2rem;
}

.btn-cat {
  background: var(--card-bg);
  color: white;
  border: 0.1rem solid #333;
  padding: 1rem 1.7rem;
  border-radius: 2rem;
  white-space: nowrap;
  font-size: 1.4rem;
}

.btn-cat.active {
  background: var(--primary);
  color: black;
  font-weight: bold;
}

.contenedor-productos {
  padding: 1.5rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

.producto-card {
  background: var(--card-bg);
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3);
  display: flex;
  height: 15rem;
}

.producto-card img {
  width: 14rem;
  min-width: 14rem;
  height: 100%;
  object-fit: cover;
}

.producto-info {
  padding: 1.2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.producto-info h3 {
  margin: 0;
  font-size: 1.8rem;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.producto-info p {
  color: var(--text-muted);
  font-size: 1.3rem;
  margin: 0;
  line-height: 1.2;

  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.precio-accion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.precio {
  color: var(--primary);
  font-weight: bold;
  font-size: 2rem;
}

.btn-agregar {
  background: var(--primary);
  border: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BARRA INFERIOR */
.carrito-bar {
  position: fixed;
  bottom: 2rem;
  left: 5%;
  width: 90%;
  background: var(--green-success);
  color: white;
  padding: 1.5rem;
  border-radius: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.carrito-info {
  font-size: 1.6rem;
}

.btn-ver-pedido {
  background: white;
  color: var(--green-success);
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
}

.pedido-card {
  border: solid 1px var(--primary);
}
.btn-eliminar {
  background: var(--primary);
  border: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  width: 10rem;
  border: none;
  display: block;
  background-color: #28a745;
  border-radius: 1rem;
  padding: 0.5rem;
  color: var(--text-main);
  cursor: pointer;
}
.botones {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.total {
  font-size: 3rem;
  margin: 0;
  padding: 1rem;
}
.hidden {
  display: none;
}
.flex {
  display: flex;
}

.imagen {
  background: url("../imagenes/pizza-2589575_1280.jpg");
  width: 100%;
  height: 40rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.atras {
  display: flex;
  justify-content: center;
  width: 5rem;
  position: absolute;
  color: var(--text-main);
  top: 2rem;
  left: 2rem;
  font-size: 4rem;

  border-radius: 50%;
  align-items: center;
  text-align: center;
}
.producto-modal {
  background-color: var(--text-muted);
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
}
.producto-modal {
  position: absolute;
  background-color: var(--card-bg);
  border-radius: 1rem;
  height: auto;
  padding: 1rem;
  top: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.producto-modal h3,
p {
  color: var(--text-main);
}
.precio-modal {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  padding: 1rem;
}
.contador {
  display: flex;
  gap: 1rem;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.modal-agregar {
  border: none;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
  font-weight: 500;
  background-color: var(--green-success);
  color: var(--text-main);
}
.nota {
  padding: 1rem;
  border-radius: 0.5rem;
}
details {
  margin-top: 10px;
}

summary {
  cursor: pointer;
  font-weight: 600;
  padding-bottom: 1rem;
}

details[open] summary {
  color: #ff6b00;
}
.menos {
  background-color: var(--text-main);
  color: #121212;
  font-weight: 500;
  text-align: center;
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 0.3rem;
  opacity: 0.1;
}
.mas {
  background-color: var(--text-main);
  color: #121212;
  font-weight: 500;
  text-align: center;
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 0.3rem;
}
