:root {
  --bg-color: #121212;
  --card-bg: #1e1e1e;
  --primary: #ffc107;
  --text-main: #ffffff;
  --text-muted: #a0a0a0;
  --green-success: #28a745;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem; /* 16px */
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding-bottom: 8rem; /* 80px */
}

/* Tipografía */
p {
  font-size: 2rem;
}
h1 {
  font-size: 4rem;
  font-weight: 900;
}
h2 {
  font-size: 3.6rem;
  font-weight: 900;
}
h3 {
  font-size: 3.2rem;
  font-weight: 900;
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 2rem;
}

header h1 span {
  color: var(--primary);
}

.categorias {
  display: flex;
  overflow-x: auto;
  padding: 1rem;
  gap: 1rem;
  background: var(--bg-color);
  margin-bottom: 2rem;
}

.btn-cat {
  background: var(--card-bg);
  color: white;
  border: 0.1rem solid #333;
  padding: 1rem 1.7rem;
  border-radius: 2rem;
  white-space: nowrap;
  font-size: 1.4rem;
}

.btn-cat.active {
  background: var(--primary);
  color: black;
  font-weight: bold;
}

.contenedor-productos {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1.5rem;
}

.producto-card {
  background: var(--card-bg);
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.producto-card img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.producto-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.producto-info h3 {
  margin: 0;
  font-size: 1.8rem;
}

.producto-info p {
  color: var(--text-muted);
  font-size: 1.4rem;
  margin: 0;
  line-height: 1.4;
}

.precio-accion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.precio {
  color: var(--primary);
  font-weight: bold;
  font-size: 2rem;
}

.btn-agregar {
  background: var(--primary);
  border: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BARRA INFERIOR */
.carrito-bar {
  position: fixed;
  bottom: 2rem;
  left: 5%;
  width: 90%;
  background: var(--green-success);
  color: white;
  padding: 1.5rem;
  border-radius: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.carrito-info {
  font-size: 1.6rem;
}

.btn-ver-pedido {
  background: white;
  color: var(--green-success);
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
}
